Resources:
    every-goose-customers:
        Type: AWS::DynamoDB::Table
        Properties:
            KeySchema:
                HashKeyElement:
                    AttributeName: "email"
                    AttributeType: "S"
                ProvisionedThroughput:
                    ReadCapacityUnits: 1
                    WriteCapacityUnits: 1
files:
    "/var/app/app.config":
        mode: "000444"
        owner: "apache"
        group: "apache"
        content: |
            AWS_REGION = '`{"Ref" : "AWS::Region"}`'
            TABLE = '`{"Ref" : "every-goose-customers"}`'
option_settings:
    "aws:elasticbeanstalk:customoption":
        "AlarmEmail" : "ioetbc@gmail.com"
    "aws:elasticbeanstalk:application:environment":
        "APP_CONFIG": "var/app/app.config"
        "FLASK_DEBUG": "false"
